<!DOCTYPE html>

<html>

   <head>
     
      <title>Timestamp Microservice</title>
      <link rel="shortcut icon" href="https://i.imgur.com/ZowBTYD.png" alt="Yorisi.com-favicon" type="image/x-icon"/>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="style.css" rel="stylesheet" type="text/css">
     <script>
     
     </script>
     
   </head>

   <body>

      <div class="container">
        <h2>A Timestamp Microservice</h2>
        
        <h3>Description</h3>
        <p>
          This service provides time in both natural and unix formats.
        </p>
        
        <h3>Usage</h3>
        <p>
          In the url bar you can enter either a natural language date or a unix timestamp on the tail end.
        </p>
         <p>
        https://ek-timestamp-microservice.glitch.me/<b>unix timestamp</b>
        </p>
        <p>
        https://ek-timestamp-microservice.glitch.me/<b>natural language date</b>
        </p>
        <h3>Example API Calls</h3>
        <ul>
          <li>Get: <code><a href="https://ek-timestamp-microservice.glitch.me/358992000" target="_blank">https://ek-timestamp-microservice.glitch.me/358992000</a></code></li>
          <li>Get: <code><a href="https://ek-timestamp-microservice.glitch.me/May%2018,%201981" target="_blank">https://ek-timestamp-microservice.glitch.me/May%2018,%201981</a></code></li>
        </ul>
        
        <h3>Example Output</h3>
        <p>
          <code>{"unix":"358992000","natural":"May 18, 1981"}</code>
        </p>
        
        <h3>The Current Epoch Time is...</h3>
        
        <div>
          <span id="unixTime"></span>
        </div>
        
        <h3>The Current Natural Time is...</h3>
        
        <div>
<span id="dateNow"></span> <span id="time_span"></span> 
</div>
       
        <div class="footer">
        <p>
          by <a href="http://www.twitter.com/Eric_kouassi">@Eric_Kouassi</a> | <a href="mailto:hello@erickouassi.com">Contact Us</a>
        </p>
        </div> 
        <p>
         Please share:
          <div class="shareLink">
<a href="https://twitter.com/share?url=https://ek-timestamp-microservice.glitch.me/&text=This service provides time in both natural and unix formats." target="_blank">
    Twitter
</a>
    <a href="https://www.facebook.com/sharer/sharer.php?u=https://ek-timestamp-microservice.glitch.me/" target="_blank">
    Facebook
</a>
    <a href="https://www.linkedin.com/shareArticle?url=https://ek-timestamp-microservice.glitch.me/&title=A Timestamp Microservice&summary=TThis service provides time in both natural and unix formats.&source=https://ek-timestamp-microservice.glitch.me/" target="_blank">
    LinkedIn
</a>
    <a href="mailto:?subject=A Timestamp Microservice&body=This service provides time in both natural and unix formats.">
    Email
</a>
</div>
    </p>
      </div>
     
     
     <script>
    // current Time

timer();
function timer(){
var epochTime = Math.round(new Date().getTime() / 1000);
var currentTime = new Date()
var hours = currentTime.getHours()
var minutes = currentTime.getMinutes()
var sec = currentTime.getSeconds()
if (minutes < 10){
    minutes = "0" + minutes
}
if (sec < 10){
    sec = "0" + sec
}
var t_str = hours + ":" + minutes + ":" + sec + " ";
if(hours > 11){
    t_str += "PM";
} else {
   t_str += "AM";
}
 document.getElementById('time_span').innerHTML = t_str;
 document.getElementById('unixTime').innerHTML = epochTime;
 setTimeout(timer,1000);
}
// Current date
var today = new Date();
var dd = today.getDate();

var mm = today.getMonth()+1; 
var yyyy = today.getFullYear();
if(dd<10) 
{
    dd='0'+dd;
} 

if(mm<10) 
{
    mm='0'+mm;
} 


today = dd+'/'+mm+'/'+yyyy;
document.getElementById('dateNow').innerHTML = today;


     </script>
   </body>

</html>
